/.metadata

/grupo_3_tp_1/.settings/
/grupo_3_tp_1/Debug/
/grupo_3_tp_1/Release/

/grupo_3_tp_2/.settings/
/grupo_3_tp_2/Debug/
/grupo_3_tp_2/Release/

/grupo_3_tp_3/.settings/
/grupo_3_tp_3/Debug/
/grupo_3_tp_3/Release/